<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='/styles/style.css') }}"
        />
        <link
            rel="icon"
            href="{{ url_for('static', filename='/images/logo.png') }}"
        />
        <script src="{{ url_for('static', filename='/scripts/script.js') }}"></script>
        <title>ZiemeļRietumu Radio</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <div class="container">
            <div class="header">
                <h1 class="title">ZiemeļRietumu Radio</h1>
                <div class="language-selector">
                    {% block language_selector %} {% endblock %}
                </div>
            </div>

            <div class="content">
                <p class="welcome">{% block welcome %} {% endblock %}</p>
                <img
                    src="{{ url_for('static', filename='/images/logo.png') }}"
                    height="125px"
                    width="125px"
                /><br />
                <p class="scrolling-text" id="scrolling-text">Loading...</p>
                <div class="audio-player">
                    <audio controls autoplay>
                        <source
                            src="/stream"
                            type="audio/mpeg"
                        />
                        Your browser does not support the audio element.
                    </audio>
                </div>
                <p class="contact">{% block contact %} {% endblock %}</p>
            </div>

            <footer>
                <p>© garrynet 2024</p>
            </footer>
        </div>
    </body>
</html>
